/*ITIS 3135 Activity 2 css file*/

/*styling for the table goes here*/

body
{
	width: 750px;
	margin: 0 auto;
}

table
{
		border-collapse: collapse;
		margin: 0;
}



th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

.dark-top
{
	background-color: black !important;
	text-color: white;
}

figure tr:nth-child(odd)
{
background-color: #777;
color: #fff;
}




footer {
	text-align: center;
}
