@import url('https://fonts.googleapis.com/css?family=Roboto');

body 
{
  background-size: cover;
  height: auto;
  font-family: 'Roboto';
}


#header-title 
{
    font-size: xx-large;
    color: white;
    padding-top: 10px;
    padding-left: 40px;
}

#navbar ul, header
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
#navbar li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}
  
#navbar li a:hover 
{
    background-color: rgb(124, 124, 131);
}

#contact
{  
    height: 800px;
    text-align: center;

}

footer
{
    text-align: center;
    background-color:#333;
    color: white;
}

a:hover 
{
    color: inherit;
    text-decoration: underline;
}


*
{
  margin: 0;
  padding: 0;
}



.container
{
  max-width: 800px;
  height: 600px;
  background: #fff;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  box-sizing: border-box;
  padding: 40px;
}

p
{
  text-align: center;
  letter-spacing: 1px;  
  font-size: 45px;
  margin-bottom: 20px;
  color: #486255;
}

.input, .message .area
{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.name .input
{
  width: 48%;
  float: left;
  margin-right: 4%;
}

.name .input:last-child
{
  margin-right: 0;
}

.message .area
{
  height: 200px;
}

.btn
{
  width: 250px;
  background: #486255;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.input:focus,
.message .area:focus
{
  border: 2px solid #486255;
}

::-webkit-input-placeholder
{
  font-family: 'roboto';
}